.advantages {

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
		gap: 30px;
		list-style: none;
		@media(min-width:$desktopStart){
			flex-wrap:nowrap;
		}
		@media(max-width: $phoneEnd) {
			flex-direction: column;
			width: 100%;
		}
	}
	&__item {
		display: inline-block;
		width: 270px;
		@media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
			flex-basis: calc((100% - 30px) / 2);
		}
		@media(max-width: $phoneEnd) {
			width: 100%;
		}

	}
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		padding: 25px 100px;
		background-color: #f5f4fa;
		border-radius: $defaultBorderRadius;
	}
	&__title {
		margin-bottom: 10px;
		font-size: 14px;
		letter-spacing: 0.03em;
		@media(max-width: $tabletEnd) {
			font-weight: 700;
		}
		@media(max-width: $phoneEnd) {
			text-align: center;
			font-weight: 700;
		}
		
	}
	&__text {
		font-size: 14px;
		line-height: 24px;
		color: $secondFontColor;
		letter-spacing: 3%;
	}
}
