.clients {
	padding-top: 94px;
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		flex-wrap: wrap;
		list-style: none;
		@media (max-width: $tabletEnd) {
			gap: 30px;
			justify-content: center;
		}
	}
	&__item {
		padding: 16px 32px;
		border-radius: 4px;
		border: 1px solid #afb1b8;
		@media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
			padding: 16px 60px;
		}
		@media screen and (max-width:$phoneEnd){
			padding: 16px 52px;
		}
	}
	&__icon {
		fill: #afb1b8;
	}
	&__item:hover {
		border: 1px solid $thirdFontColor;
	}
	&__item:hover .clients__icon {
		fill: $thirdFontColor;
	}
}
