.clients {
	padding-top: 94px;
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		flex-wrap: wrap;
		list-style: none;
		@media (max-width: $tabletEnd) {
			gap: 30px;
			justify-content: center;
		}
	}
	&__item {
		padding: 16px 32px;
		border-radius: 4px;
		border: 1px solid #afb1b8;
		// @media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
			// flex-basis:calc(100%-40px)/3;
			// display: inline-block;
		// }
	}
	&__icon {
		fill: #afb1b8;
	}
	&__item:hover {
		border: 1px solid $thirdFontColor;
	}
	&__item:hover .clients__icon {
		fill: $thirdFontColor;
	}
}
