.header {
	border-bottom: #ececec solid 1px;

	&__container {
		display: flex;
		position: relative;
		justify-content: space-between;
		padding-top: 24px;
		padding-bottom: 24px;
		align-items: center;
	}
	&__mobile-menu {
		background-color: transparent;
		border: none;
		display: none;
		@media (max-width: $phoneEnd) {
			display: flex;
			position: absolute;
			top: 20px;
			right: 10px;
			& svg {
				fill:#000000;
				transition-property: fill;
				transition-duration: $transitionDurationDefault;
				transition-timing-function: $transitionTimingDefault;
			}
		}
	}
	&__mobile-menu svg:hover {
		fill: $thirdFontColor;
	}
}
.nav {
	display: flex;
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		list-style-type: none;
		@media (max-width: $phoneEnd) {
			display: none;
		}
	}
	&__item {
		display: inline;
		margin-right: 46px;
	}
	&__link:hover,
	&__link:focus,
	&__link:active {
		color: $thirdFontColor;
	}
	&__link {
		font-size: 14px;
		font-weight: 500;
		color: $firstFontColor;
		transition-property: color;
		transition-duration: $transitionDurationDefault;
		transition-timing-function: $transitionTimingDefault;
		text-decoration: none;
	}
	&__link--active {
		position: relative;
		color: $thirdFontColor;
	}
	&__link--active::after {
		content: '';
		position: absolute;
		display: block;
		top: 42px;
		width: 100%;
		height: 4px;
		background-color: $thirdFontColor;
		border-radius: 2px;
		@media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
			top: 48px;
		}
	}
}

.contact__list {
	display: flex;
	align-items: center;
	list-style-type: none;
	@media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
	@media (max-width: $phoneEnd) {
		display: none;
	}
	.contact__item {
		display: inline;
		margin-right: 50px;
	}
	.contact__item:last-child {
		margin-right: 0;
	}
	.contact__link {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		color: $secondFontColor;
		transition-property: color;
		transition-duration: $transitionDurationDefault;
		transition-timing-function: $transitionTimingDefault;
		text-decoration: none;
		@media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
			font-size: 12px;
		}
	}
	.contact__link:hover,
	.contact__link:focus,
	.contact__link:active {
		color: $thirdFontColor;
	}

	.contact__icon {
		margin-right: 10px;
		fill: $secondFontColor;
	}
	.contact__link:hover svg {
		fill: $thirdFontColor;
	}
}
