.hero{
	display: flex;
	flex-direction: column;
	padding-top: 200px;
	justify-content: center;
	align-items: center;
	padding-bottom: 200px;
	text-align: center;
    background-color: $secondBcgColor;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg.jpg);
	background-position: center;
	background-repeat: no-repeat;
    &__title{
        margin-bottom: 30px;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        color: $firstBcgColor;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }
}