.team {
	text-align: center;
	padding: 60px 0;
	background-color: #f5f4fa;
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		list-style: none;
		@media (min-width: $desktopStart) {
			flex-wrap: nowrap;
		}
	}
	&__item {
		background-color: $firstBcgColor;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: $defaultBorderRadius;
	}

	&__photo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		img {
			@media screen and (min-width: $tabletStart) and (max-width: $tabletEnd) {
				width: 100%;
				max-width: 345px;
			}
			@media (max-width: $phoneEnd) {
				max-width: 450px;
				width: 100%;
			}
		}
	}

	&__description {
		padding-top: 30px;
		text-align: center;
	}
	&__person {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		letter-spacing: 0.03em;
	}
	&__person-work {
		color: $secondFontColor;
	}
	&__social-icons {
		display: flex;
		justify-content: center;
		margin: 16px 0;
	}
	&__social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		height: 44px;
		width: 44px;
		transition-property: background-color, fill;
		transition-duration: $transitionDurationDefault;
		transition-timing-function: $transitionTimingDefault;
		list-style-type: none;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.1);
		fill: rgba(175, 177, 184, 1);
		&:hover,
		&:focus,
		&:active {
			fill: $firstBcgColor;
			background-color: $thirdFontColor;
		}
	}

	// &__social-icon{
	// 	height: 44px;
	// 	width: 44px;
	// 	fill: rgba(175, 177, 184, 1);
	// 	background-color: rgba(255, 255, 255, 0.1);
	// 	transition-property: fill, background-color, border-radius;
	// 	transition-duration: $transitionDurationDefault;
	// 	transition-timing-function: $transitionTimingDefault;
	// 	&:hover,
	// 	&:focus,
	// 	&:active {
	// 		fill: $firstBcgColor;
	// 		background-color: $thirdFontColor;
	// 		border-radius: 50%;
	// 		cursor: pointer;
	// 	}
		
	// }

	// &__social-icon {
	// 	transition-property: fill, background-color, border-radius;
	// 	transition-duration: 2s;
	// 	transition-timing-function: $transitionTimingDefault;
	// 	list-style-type: none;
	// 	border-radius: 50%;
	// 	background-color: rgba(255, 255, 255, 0.1);
	// 	fill: rgba(175, 177, 184, 1);
		// &:hover,
		// &:focus,
		// &:active {
		// 	fill: $firstBcgColor;
		// 	background-color: $thirdFontColor;
		// 	border-radius: 50%;
		// 	cursor: pointer;
		// }
	
	// &__social-link:hover {
	// 	fill: $firstBcgColor;
	// }

	// &__social-icon:hover{
	// 	fill: $firstBcgColor;
	// }
}
