body {
	background-color: $firstBcgColor;
	font-family: 'Roboto', sans-serif;
	color: $firstFontColor;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
	&__title {
		padding: 0;
		margin: 0;
		margin-bottom: 50px;
		text-align: center;
		font-size: 36px;
		font-weight: 700;
	}
	@media(max-width: $tabletEnd) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

img {
	display: block;
	height: auto;
}
