

$firstFontColor: #212121;
$secondFontColor: #757575;
$thirdFontColor: #2196f3;

$firstBcgColor: #fff;
$secondBcgColor: #2f303a;

$firstFrameColor: #afb1b8;
$defaultBorderRadius: 4px;

$transitionDurationDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);

$phoneEnd: 767px;
$tabletStart: 768px;
$tabletEnd: 1199px;
$desktopStart: 1200px;